canvas {
    display: block;
    margin: auto;
    padding: auto;
    border: 3px solid black;
    border-radius:10%;
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    position: absolute;
    z-index:1;
  }

body {
    margin:0 !important;
    padding: 0 !important;
}

#menu {
    display: block;
    width: 800px;
    height: 640px;
    margin: auto;
    padding: auto;
    border: 3px solid lightsalmon;
    border-radius:10%;
    background-color: lightblue;
    position: absolute;
    z-index:2;
}

#play {
    display:block;
    width:100px;
    height:100px;
    margin:200px;

}